.fullscreen.row
  .map-panel
    #map-canvas
  .side-panel
    {{companyLength}},{{serviceLength}}
    h1 Faults
    .scroll-panel
      .map-list-item(ng-repeat="fault in faultValues" ng-click="goToFault(fault)")
        {{fault.name}}
